@charset "UTF-8";
#total{
	color:blue;
	background-image: url(sky.jpeg);
	width: 800px;
	height: 1500px;
	font-size: 20px;
}
#top{
	width:800px;
	padding-left:120px;
	height:80px;
	background: lime;
}
#top li{
	list-style: none;
	float: left;
	width: 100px;
	height:50px;
	padding-left:25px;
	padding-top:30px;
}

#top li:nth-child(2n+1) {
	background: red;
	box-shadow: 10px 10px gray;
}
#top li:nth-child(2n) {
	background: orange;
	box-shadow: 10px 10px gray
}
#top li:first-child {
	border-radius: 20px 0 0 20px;
}
#top li:last-child {
	border-radius: 0 20px 20px 0;
}
a{
	text-decoration: none;
	font-family: 굴림;
	font-size: 18px;
	font-weight: bold;
}
a:hover{
	text-decoration: none;
	font-family: 궁서;
	font-size: 18px;
	color: white;
	font-weight: bold;
}
#content{
	padding-top: 20px;
	background: yellow;
	width: 800px;
	height: 500px;
	
}
tr{
	width: 300px;
}
.t1{
	width:100px;
	text-align: center;
}
.t2{
	width:200px;
	
}
input[type="text"]{
	background: gold;
	font-size: 30px;
	color: white;
	fontweigth: bold;
}

.t1:hover{
	background: lime;
	font-weight: bold;
}

.t3{
	text-align:center;
}
input[type="submit"]{
	color:white;
	background: gold;
	font-family: 궁서;
	font-size: 30px
}
input[type="submit"]:hover{
	color:white;
	background: lime;
	font-family: 궁서;
	font-size: 30px;
}
#top2{
	top: 110px;
	right: 5px;
	position: fixed;
	width: 200px;
	height: 150px;
	background: black;
	color: yellow;
	
}

